html {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

#highscores {
    color: #380aa2;
}

#timer {
    float: right;
}

body {
    
}

header {
    width: 480px;
}

#start-button {
    margin-left: 200px;
}

h1 {
    font-size: 28;
    font-weight: 700;
    text-align: center;
}

p {
    text-align: center;
}

button, #submit-button {
    background-color: #380aa2;
    color: white;
    cursor: pointer;
    font-size: 12;
    border-radius: 3px;
    text-align: center;
    width: fit-content;
}

button:hover, #submit-button:hover {
    opacity: 75%;
}
  
button::content {
    border-style: solid 10px purple;
}

/*this isn't working. figure out how to align to center*/
#start-button {
    align-self: center;
}